:root {
  --negro: #222222;
  --gris: #666666;
  --gris-claro: #8a8787;
  --primario: #ffffec;
  --blanco: #ffffff;
  --marron: #3c2313;
  --celeste-pastel: #84b6f4;
  --verde-pastel: #77dd77;
  --verde-pastel-intenso: #42ab49;
  --anaranjado-claro: #f0a83e;

  --fuente-principal: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuente-principal);
  font-size: 1.4rem;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

.header-superior {
  display: none;
}

@media (min-width: 720px) {
  .header-superior {
    display: flex;
    padding: 0 8rem;
    justify-content: space-between;
    background-color: var(--negro);
  }

  .header-superior__ofertas {
    font-size: 1.5rem;
    color: var(--blanco);
  }

  .header-superior__regional {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    text-decoration: none;
  }

  .header-superior__enlace {
    color: var(--blanco);
    text-decoration: none;
  }
}

.header-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: var(--anaranjado-claro);
}

.header-principal__logo {
  display: flex;
}

.header-principal__imagen {
  width: 2rem;
  height: auto;
}

.header-principal__heading {
  color: var(--blanco);
}
.header-principal__heading span {
  color: var(--marrron);
}

.header-menu__flex {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  list-style-type: none;
}

.header-menu__enlace {
  font-size: 1.8rem;
  color: var(--blanco);
  text-decoration: none;
}

/* header */
.banner {
  background-image: url(../img/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75rem;
  position: relative;
  margin-bottom: 2rem;
}

.banner__contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(255, 255, 255, 0);
  padding-right: 2rem;
  padding-bottom: 22rem;
}

.banner__heading {
  background-color: var(--blanco);
  display: inline-block;
  padding: 1.5rem 1rem;
  font-weight: 400;
  font-size: 5.7rem;
  border-radius: 1rem;
  margin-bottom: 0;
  color: var(--marron);
}

.banner__texto {
  color: var(--marron);
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.banner__enlace {
  background-color: var(--anaranjado-claro);
  text-decoration: none;
  color: var(--blanco);
  padding: 2rem 3rem;
  font-size: 2.5rem;
  border-radius: 1rem;
}

/* Main */
.destacados {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.destacados__imagen {
  height: 10rem;
  margin-bottom: 1rem;
}

.destacados__heading {
  color: var(--marron);
  font-size: 6rem;
  margin-top: 0;
}

.destacados__texto {
  font-size: 2.5rem;
  color: var(--gris);
  margin-top: 0;
}

/* productos */

.productos {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 5rem;
}

.producto {
  position: relative;
}

.producto__contenido {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.producto__imagen {
  width: 40rem;
  height: 45rem;
}

.producto__heading {
  font-size: 2rem;
  text-align: center;
  color: var(--marron);
  margin-bottom: 0.5rem;
}

.producto__texto {
  text-align: center;
  color: var(--anaranjado-claro);
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 0;
}

/* contactanos */
.contactanos {
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
}
.contactanos__heading {
  text-align: center;
  color: var(--marron);
  font-size: 3rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.formulario__nombre,
.formulario__correo,
.formulario__telefono {
  height: 4.8rem;
  width: 45rem;
  border-radius: 1.5rem;
  background-color: var(--marron);
  font-size: 1.2rem;
  padding-left: 1.5rem;
  color: var(--blanco);
  border: none;
}

.formulario__telefono {
  margin-bottom: 2rem;
}

.botones {
  display: flex;
  gap: 1rem;
}

.botones__resetear,
.botones__enviar {
  display: flex;
  align-items: center;
  border: 0;
  padding: 2rem 5rem;
  height: 4.8rem;
  border-radius: 5rem;
  font-size: 1.6rem;
}

.botones__resetear {
  background-color: var(--gris-claro);
  color: var(--blanco);
}
.botones__enviar {
  background-color: var(--anaranjado-claro);
  color: var(--blanco);
}

/* suscripción */
.suscripcion {
  background-color: var(--anaranjado-claro);
  display: flex;
  justify-content: space-between;
  height: 7rem;
  padding-left: 2rem;
  padding-right: 4rem;
}

.suscripcion__contenido {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.suscripcion__imagen {
  /* padding-left: 2rem; */
}

.suscripcion__texto {
  color: var(--blanco);
  font-size: 2.5rem;
  font-weight: bold;
}

.suscripcion__busqueda {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.suscripcion__correo {
  height: 4.8rem;
  width: 40rem;
  border-radius: 1.5rem;
  background-color: var(--blanco);
  font-size: 1.2rem;
  padding-left: 1.5rem;
  color: var(--blanco);
  border: none;
}

.suscripcion__envio {
  display: flex;
  align-items: center;
  border: 0;
  padding: 2rem 3.5rem;
  height: 4rem;
  border-radius: 5rem;
  font-size: 1.2rem;
  background-color: var(--marron);
  color: var(--blanco);
}
